.date-picker__popup.dark,
.date-picker.dark {
  --shade-00: black;
  --shade-01: #222;
  --shade-10: #eee;
  --pink: #ff4684;
  --dim: rgba(255, 255, 255, 0.5);
}

.date-picker__popup,
.date-picker {
  --shade-00: white;
  --shade-01: #f7f7f7;
  --shade-10: black;
  --pink: #ff4684;
  --dim: rgba(0, 0, 0, 0.5);
  --background: var(--shade-00);
  --color: var(--shade-10);
  --item-background-hover: var(--shade-01);
  --item-background-selected: var(--pink);
  --item-color-selected: white;
  --box-shadow-focus: 0 0 4px 1px #115bb7;
  --button-transition: background 0.1s cubic-bezier(0, 0, 1, 1);

  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: var(--font);
  color: var(--color);
}

.date-picker__popup,
.date-picker__content {
  width: 320px;
  padding: 16px 12px 12px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: var(--background);
}

.date-picker *:focus:not(:focus-visible) {
  outline: none;
}

.date-picker__popup {
  z-index: 1;
  position: absolute;
}

.date-picker__weekdays,
.date-picker__grid {
  --gap: 8px 16px;
  display: grid;
  /* grid-gap: var(--gap); */
  grid-template-columns: repeat(7, 1fr);
}

.date-picker__grid--months {
  --gap: 18px 10px;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 20px 0px;
}

.date-picker__grid__item-month {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: initial;
  -webkit-appearance: none;

  padding: 8px;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
  transition: var(--button-transition);
  border-radius: 8px;
}

.date-picker__grid__item-month:hover {
  background: var(--shade-01);
}

.date-picker__weekdays {
  align-items: center;
  justify-items: center;
  padding: 2px 0;
  color: var(--dim);
}

.date-picker__grid button:first-child {
  grid-column: var(--start-day, 1);
}

.date-picker__grid__item {
  /* button reset */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  text-transform: none;
  border: initial;
  -webkit-appearance: none;
  color: var(--color);
  background: initial;

  /* Custom styles */
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  width: 32px;
  */
  height: calc(32px + 8px);
  cursor: pointer;

  position: relative;
  z-index: 1;
}

.date-picker__grid__item::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 99px;
  transition: var(--button-transition);
  z-index: -1;
}

.date-picker__grid__item:hover::after,
.date-picker__grid__item:focus::after {
  background: var(--item-background-hover);
}

.date-picker__grid__item:focus {
  outline: 0;
  /* box-shadow: var(--box-shadow-focus); */
}

.date-picker__grid__item:active::after {
  transform: scale(0.95);
}

.date-picker__grid__item:disabled::after {
}

.date-picker__grid__item--rest-day {
  color: var(--dim);
}

.date-picker__grid__item--selected {
  color: var(--item-color-selected);
  font-weight: bold;
}
.date-picker__grid__item-month {
  outline: 0;
}
.date-picker__grid__item-month.date-picker__grid__item--selected {
  background: var(--item-background-selected);
}
.date-picker__grid__item--selected::after {
  background: var(--item-background-selected);
}
.date-picker__grid__item--selected:focus::after {
  background: var(--item-background-selected);
}
.date-picker__grid__item--selected:hover::after {
  background: var(--item-background-selected);
}
